.navbar a:hover {
    background: gray;
    color: white;
}

.navbar {
    background-color: #cbdef2;
}

.intro {
    border: 1px solid black;
}

.psychology {
    width: 450px;
}

.chart {
    border: 4px solid black;
    }

.center {
    text-align: center;
}
