.navbar a:hover {
    background: gray;
    color: white;
}

.intro {
    border: 1px solid black;
}

.photo {
    width: 460px;
}

.chart {
    border: 4px solid black;
    }

.center {
    text-align: center;
}

.fix {
    width: 30%;
}

.quote {
    font-family: Kaushan Script;
}

.text {
    font-family: Cascadia Code;
}

.heading {
    font-family: Cal Sans;
}

body {
    background: #c894d4;
    background: linear-gradient(90deg, rgba(200, 148, 212, 1) 0%, rgba(155, 151, 232, 1) 25%, rgba(200, 166, 237, 1) 50%, rgba(155, 151, 232, 1) 75%, rgba(200, 148, 212, 1) 100%);
}

.color {
    background-color: #9e94f7;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.stuff {
    padding: 90px;
    margin: 50px;
}

.main-stuff {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-width: 600%;
    padding: 300px;
}
